<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../emisor-evento/emisor-evento.html">
<link rel="import" href="../receptor-evento/receptor-evento.html">


<dom-module id="gestor-evento">

  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <h1>Yo soy tu padre</h1>
    <emisor-evento on-myevent="processEvent"></emisor-evento>
    <receptor-evento id="receiver"></receptor-evento>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorEevento extends Polymer.Element {
      static get is() { return 'gestor-evento'; }
      static get properties() {
        return {
        };
      }

      processEvent (e) {
        console.log("Capturado evento del emisor");
        console.log(e);
        console.log(e.detail);
        this.$.receiver.course = e.detail.course;
        this.$.receiver.year = e.detail.year;
      }

    }

    window.customElements.define(GestorEevento.is, GestorEevento);
  </script>
</dom-module>
