<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<!-- el ultimo href es para incluir listas de un item sin tener que hacer un for para mostrar. Es un array que proporciona polymer.
    para eso usa la variable "item" y en este caso, definimos accounts como array -->
<link rel="import" href="../../bower_components/app-router/app-router.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }

    </style>      <!-- Estos estilos son locales del componente -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

      <h1>Sus cuentas</h1>

      <template is="dom-repeat" items="{{accounts}}">
        <h3>IBAN - {{item.iban}}</h3>
        <h3>Saldo - {{item.balance}}</h3>
      </br>
      </template>


      <iron-ajax auto
        id="getUser"
        url="http://localhost:3000/apitechu/v2/users/{{userid}}/accounts"
        handle-as="json"
        on-response="showData">
      </iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          userid: {
            type: Number
          },
          iban:{
            type: String
          },
          balance: {
            type: String
          },
          accounts: {
            type: Array
          },
          id: {
            type: Number
          }
        }
      };

      showData(data) {

        console.log(data.detail.response[0]);
        this.accounts = data.detail.response;

      }

    }


    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
